html {
  height: 100%;
}

body {
  height: 100%;

  div{
    height: 100%;
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.splitLayout {
  display: flex;
  height: 100%;
}
